/* Styles for Tic Tac Toe page */

:root {
  --font-family: 'Asap', sans-serif;
  --bg-color: rgb(196, 196, 196);
  --game-container-bg: rgb(19, 26, 25);
  --tile-bg: rgb(221, 219, 216);
  --alt-bg-color: rgb(155, 117, 117);
  --controls-bg: rgb(49, 53, 51);
  --radio-unselected: rgb(73, 78, 76);
  --radio-selected: teal;
  --button-hover: rgb(163, 192, 130);


  --alt-color: rgb(80, 52, 19);
  --header-text: rgb(0, 0, 0);
  --text-color: rgb(0, 0, 0);
  --controls-text-color: rgb(202, 202, 202);
  --text-contrast: rgb(72, 64, 75);
  --alt-text-color: rgb(201, 201, 201);
}

* {
  /* stop ability to select text */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  font-family: var(--font-family);
  box-sizing: border-box;
  margin: 0;
  font-size: 24px;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  height: 10%;
  width: 100%;
  background-color: var(--alt-bg-color);
  color: var(--header-text);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.board-container {
  height: 100%;
  aspect-ratio: 1;
  background-color: var(--game-container-bg);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

.deactivate {
  opacity: .25;
}

.controls {
  background-color: var(--controls-bg);
  color: var(--controls-text-color);
  padding: .5rem;
  border-radius: .5rem;
  width: 8rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
 fieldset {
  border: none;
 }

.player-select,
.player-info {
  font-size: .6rem;
  font-weight: 700;
}

.player-select {
  font-size: .75rem;
  margin-bottom: .5rem;
}

label, button {
  font-size: .6rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  width: 4rem;
  height: 1rem;
  margin-top: .5rem;
  position: relative;
}

li label,
li input {
  background: var(--radio-unselected);
  border-radius: .25rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

li input {
  opacity: 0.011;
  z-index: 100;
}

li input:checked + label {
  background: var(--radio-selected);
  border-radius: .25rem;
}

li label {
  cursor: pointer;
  z-index: 90;
  line-height: 1.8em;
  left: 1;
  padding-left: .75rem;
}

.name-input {
  width: 100%;
  font-size: .75rem;
  margin: .5rem 0;
}

button {
  border-radius: .25rem;
  border: none;
  padding: .25rem;
}

button:hover {
  scale: 1.05;
  background-color: var(--button-hover);
}

button:active {
  background-color: orange;
}

.tile, 
.X-tile,
.O-tile {
  background-color: var(--tile-bg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
}

.tile {
  opacity: .75;
}

.tile:hover {
  scale: 1.01;
  opacity: 1;
}

.X-tile {
  background-image: url(./images/x-brush.png);
}

.O-tile {
  background-image: url(./images/o-brush.png);
}

.footer {
  height: 5%;
  width: 100%;
  background-color: var(--alt-bg-color);
  color: var(--text-contrast);
  font-size: .6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}